@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OBJETIVO</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="FaixaTopo">
        <img src="~/Content/img/obj.png" />
    </div>

    <div class="CaixaLogin">
        <br />
        <label>CONVÊNIOS</label><br /><br />
        <form method="post">
            <label>Usuário</label><br />
            <input type="text" id="Usuario" name="txtUsuario"><br /><br />

            <label for="disabledTextInput">Password</label><br />
            <input type="password" id="Senha" name="txtSenha"><br /><br />

            <button type="submit">Entrar</button>
        </form>
        @if (TempData["Erro"] != null)
        {
            <b id="msgFiltro" style="color: #fff200; font-size: 12px;">@TempData["Erro"]</b>
        }
    </div>
</body>
</html>
